.pokemons {
  display: flex;
}

.pokemons__list {
  width: 100%;
}

.pokemons__outlet {
  max-height: 470px;
  text-align: center;
  margin: 1em 0.3em;
  padding: 1em;
  border-radius: 8px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
