#pokedex {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Создать 5 столбцов */
  gap: 2%;
  margin-bottom: 5em;
  padding: 0px 0.5em;
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pokemons {
  display: flex;
}

.pokemons__list {
  width: 100%;
}

.pokemons__outlet {
  max-height: 470px;
  text-align: center;
  margin: 1em 0.3em;
  padding: 1em;
  border-radius: 8px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
